{:paths ["src/core"]
 :deps
 {
  user.clojure.lang/user.clojure.lang {:mvn/version "2020.333.25962"}
  }
 :aliases
 {
  :repl
  {:extra-paths ["src/test"]
   :main-opts   ["-i" "@/repl.clj"]}


  :provided
  {:extra-deps
   {
    }}


  :test
  {:extra-paths ["src/test"]
   :extra-deps
   {
    org.clojure/tools.cli                       {:mvn/version "1.0.194"}
    org.clojure/tools.deps.alpha                {:mvn/version "0.9.821"}
    user.java.time/user.java.time               {:mvn/version "2020.267.10158"}
    user.tools.deps.alpha/user.tools.deps.alpha {:git/url "https://github.com/aJchemist/user.tools.deps.alpha.git" :sha "1a37f7e9185e524686b58b14ddfe552fefee282e"}
    }}


  :test-runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
   :main-opts  ["-m" "cognitect.test-runner" "-d" "src/test"]}


  :cljs-test-runner
  {:extra-deps {olical/cljs-test-runner {:mvn/version "3.7.0"}}
   :main-opts  ["-m" "cljs-test-runner.main" "-d" "src/test"]}


  :eastwood
  {:extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "eastwood.lint" {:source-paths ["src/core"] :test-paths ["src/test"]}]}


  :1.9
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.9.0"}
    }}


  :1.10
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.10.1"}
    }}}}
