{:paths ["src/core"]
 :deps
 {
  user.clojure.lang/user.clojure.lang {:mvn/version "2020.333.25962"}
  }
 :aliases
 {
  :provided
  {:extra-deps
   {
    }}


  :test
  {:extra-paths ["src/test"]
   :extra-deps
   {
    org.clojure/tools.cli {:mvn/version "1.0.214"}
    }}


  :test-runner
  {:extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts  ["-m" "cognitect.test-runner" "-d" "src/test"]
   :exec-fn    cognitect.test-runner.api/test
   :exec-args  {:dirs     ["src/test"]
                :excludes [:deprecated]}}


  :cljs-test-runner
  {:extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}}
   :main-opts  ["-m" "cljs-test-runner.main" "-d" "src/test"]}


  :build
  {:deps       {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}
                user.java.time/user.java.time {:mvn/version "2020.267.10158"}}
   :ns-default build.package}


  :maven-tool
  {:extra-deps {org.apache.maven/maven-model                {:mvn/version "3.8.6"}
                io.github.ajchemist/user.apache.maven.alpha {:mvn/version "2021.252.6975"}}
   :ns-default user.apache.maven.api}


  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "antq.core"]}
  }}
